@use '../../../../shared/styles/variables.scss' as *;

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: $medium-gap;
   border: 1px solid $light-gray;
   border-radius: 12px;
   padding: 15px;

   .img {
      max-height: 200px;
      object-fit: cover;
   }
   .catName {
      text-align: center;
   }
}